.main {
  width: 100vw;
  height: 100vh;
  background-image: url(https://i.pinimg.com/originals/e5/79/96/e5799698e1255e1dfefd6c87b4fa8244.jpg);
  background-size: cover;
  overflow-x: scroll;
}
.card {
  width: 18rem;
}
.card-deck {
  margin-top: 10px;
  margin-left: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  grid-gap: 0.5rem;
}
